.message {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.message.own {
    align-items: flex-end;
}

.message.own .messageText {
    background-color: rgb(238, 238, 238);
    color: black;
}

.messageTop {
    display: flex;
}

.messageImg {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.messageText {
    padding: 10px;
    border-radius: 20px;
    background-color: #93d7c1;
    color: whitesmoke;
    max-width: 300px;
}

.messageBottom {
    font-size: 12px;
    margin-top: 10px;
}